<div>
  
  <app-backdrop [show]="modalController" (backDropController)="closeModal($event)">
        <app-modal [show]="modalController">
           <input type="text">
           <textarea name="" id="" cols="30" rows="10"></textarea>
            <app-button buttonname="Save Edit" ></app-button>
        </app-modal>
    </app-backdrop>
    <div>
    <app-navbar></app-navbar>
    </div>
    <div class="graph-container">
        <div>
            <app-addpost   (newItemEvent)="addPost($event)" ></app-addpost>
            
        </div>
        <div>
          <div class="post"   *ngFor="let post of postList;let indexOfelement=index" >
            <!-- ngFor index:{{indexOfelement}}  -->
             <div> {{post.title}} </div>
             <div> {{post.content}} </div>
            
             <app-button buttonname="Edit" (btnClick)="editPost(indexOfelement)" ></app-button>
             <app-button buttonname="Delete" (btnClick)="deletePost(indexOfelement)" ></app-button>
        </div>
        </div>
    </div>
    <div>
        <footer>footer</footer>
    </div>
</div>

