<nav>
    <ul>
        <li>
          <app-dropdownnav class="dropdown">
            <app-button class="dropbtn" buttonname="News" ></app-button>
          </app-dropdownnav>
        </li>
        <li>  
            <app-dropdownnav class="dropdown">
                <app-button class="dropbtn" buttonname="Cars Review" ></app-button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </app-dropdownnav>
        </li>
        
        <li>  
            <app-dropdownnav class="dropdown">
                <app-button class="dropbtn" buttonname="Cars Review" ></app-button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </app-dropdownnav>
        </li>
        <li>
          <app-dropdownnav class="dropdown">
            <app-button class="dropbtn" buttonname="Contributor" ></app-button>
          </app-dropdownnav>
        </li>
        <li>
          <app-dropdownnav class="dropdown">
            <app-button class="dropbtn" buttonname="Contact" ></app-button>
          </app-dropdownnav>
        </li>
        <li>
          <app-dropdownnav class="dropdown">
            <app-button class="dropbtn" buttonname="Subscribe" ></app-button>
          </app-dropdownnav>
        </li>
    </ul>
</nav>
